/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  color:#f5f5f5;
}
.odd-item{
color:black;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  align-content: center;
  margin-left:20px;
}
.sidebar-pic{
  height:250px;
  width:150px;
  margin-left:-20px;
}
/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.background-dark{background:#252830}
.dark-text{color:#252830}
.light-grey{background:#51586a};
.text-dark{color:#293a46}
.sensor-ok{color:#1BC98E;
          font-size:50px;}
.sensor-warning{
  color:#E4D836;
  font-size:50px;
}
.sensor-danger{color:#E64759}
.system-ok{
  color:#1BC98E;
  font-size:100px;
}
.system-armed{
  color:#428bca;
  font-size:100px;
}
.system-danger{
  color:#E64759;
  font-size:100px;
}
